# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
htmlcov/

# Docker
Dockerfile
.dockerignore

# IDE
.idea
.vscode

# OS specific
.DS_Store
Thumbs.db 